.container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
.box{
  display:flex;
  flex-direction:column;
  border-radius:10px;
  width:230px;
  height:330px;  
  background:#ddff; 
  margin:4px;
}
img{
  object-fit:cover;
  border-top-right-radius:10px;
  border-top-left-radius:10px; 
  height:140px;
  width:100%;
}
.desc{
  text-align:center;
}
